{% extends 'base.html' %}

{#{% load bootstrap4 %}#}
{% load crispy_forms_tags %}

{% block block_title %}
    <title>Confirm Delete</title>
{% endblock %}

{% block body_block%}


<form method="post">{% csrf_token %}
    <div class="row ">
        <div class="card col-md-12">
            <div class="card-header">
            <h2 class="text-danger">Delete !</h2>
            </div>
            <div class="card-body">
{#                <h4 class="card-title">Ugg Boots</h4>#}
                <p>Are you sure you want to delete "{{ object }}"?</p>
            </div>

        </div>
    </div>
    {#    <p>Are you sure you want to delete "{{ object }}"?</p>#}
    {#    <input type="submit" value="Confirm">#}
    <hr>
    <button type="submit" name="submit" class="btn btn-danger">Confirm</button>
    {#    <button type="button" name="cancel" class="btn btn-info">Cancel</button>#}
    <a class="btn btn-info" href="{% url 'home-staff' %}">Cancel</a>


</form>

{% endblock %}


